[Desktop Entry]
Name=Sequel
Comment=SQL console
TryExec=sequel
Exec=sequel
Icon=stock_insert-table
Type=Application
Categories=Development;IDE;GTK;
StartupNotify=true
